@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Rubik", sans-serif;
  height: 100%;
  width: 100%;
  background-color: #eee9da;
}

#login-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 663px;
  height: 446px;
  background-color: #bdcdd6;
  border: 3px solid #6096b4;
  border-radius: 20px;
  gap: 29px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.7);
}

#register-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 663px;
  height: 630px;
  background-color: #bdcdd6;
  border: 3px solid #6096b4;
  border-radius: 20px;
  gap: 29px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.7);
}

.loginTitle,
.registerTitle {
  font-size: 40;
  font-weight: bold;
}

.registerTitle {
  margin-top: 20px;
}

.login-input {
  position: relative;
  width: 538px;
  height: 63px;
  background-color: #eee9da;
  border: 3px solid #6096b4;
  border-radius: 8px;
  font-size: 32px;
  font-weight: lighter;
  top: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
  outline: none;
}

.register-input {
  position: relative;
  width: 538px;
  height: 63px;
  background-color: #eee9da;
  border: 3px solid #6096b4;
  border-radius: 8px;
  font-size: 32px;
  font-weight: lighter;
  top: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
  outline: none;
}

input[type="submit"] {
  position: relative;
  width: 538px;
  height: 63px;
  background-color: #6096b4;
  border: none;
  font-size: 32px;
  font-weight: bold;
  color: #eee9da;
  border-radius: 8px;
  top: 60px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.7);
}

#login-btn:hover {
  scale: 1.05;
  background-color: #5393b7;
}

#register-btn {
  top: 20px;
}

#register-btn:hover {
  scale: 1.05;
  background-color: #5393b7;
}

#link-to-register {
  position: relative;
  height: 39px;
  width: 494px;
  font-size: 32px;
  list-style: none;
  text-decoration: none;
  top: 110px;
}

#link-to-login {
  position: relative;
  height: 39px;
  width: 494px;
  font-size: 32px;
  top: 110px;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 30px;
  height: 94px;
  background-color: #230404;
  color: #eee9da;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#hamburger::before {
  content: "\f0c9"; /* Default hamburger icon */
  font-family: "Font Awesome 5 Free"; /* FontAwesome font family */
  font-weight: 900; /* FontAwesome font weight */
  transition: transform 0.3s ease; /* Transition for animation */
  font-size: 40px;
  font-style: normal;
  cursor: pointer;
}

#hamburger:hover {
  transform: scale(105%);
}

#hamburger.active::before {
  content: "\f00d"; /* Icon when the hamburger is active/clicked */
  font-size: 46.5px;
  font-style: normal;
}

#user-icon {
  font-size: 45px;
  cursor: pointer;
  margin-left: 29px;
}

#user-icon:hover {
  transform: scale(105%);
}

#logo {
  font-size: 48px;
  font-weight: 700;
  cursor: pointer;
  margin-left: 394px;
}

#search-form {
  width: 400px;
  height: 60px;
  display: flex;
  background-color: #eee9da;
  border-radius: 10px;
  border: none;
}
#searchbar {
  height: 100%;
  background: #eee9da;
  color: black;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 0 10px;
}

#search-button {
  position: relative;
  height: 100%;
  width: 60px;
  border: none;
  margin-left: 40px;
  background-color: #eee9da;
  display: flex;
  cursor: pointer;
  font-size: 43px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
#search-button i:hover {
  transform: scale(105%);
}

.trendingBooks {
  width: 100%;
  height: 377px;
  margin-top: 59px;
  display: flex;
  flex-direction: column;
}

.trendingBook {
  cursor: pointer;
}

.trendingBook:hover {
  transform: scale(105%);
}

.trendingBook {
  height: 300px;
  width: 200px;
}

.trendingBook {
  margin-bottom: 12px;
  transition: all 300ms ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.596);
}

.trendingBook:not(:hover) {
  filter: brightness(60%);
  opacity: 0.86;
  transform: scale(0.9);
}

.trendingBooksTitle {
  font-size: 48px;
  font-weight: 400;
  margin-left: 105px;
  margin-bottom: 49px;
}

.trendingGrid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 156px);
  gap: 109px;
  justify-content: center;
  margin: 0;
}

.genreGrid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 156px);
  grid-template-rows: repeat(2, 234px);
  gap: 109px;
  justify-content: center;
  position: absolute;
  padding-bottom: 50px;
  padding-top: 50px;
}

.browseGenres {
  width: 100%;
  margin-top: 100px;
  display: flex;
}

.browseGenresTitle {
  font-size: 48px;
  font-weight: 400;
  margin-left: 105px;
}

#dropdown-button {
  font-size: 40px;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
  height: 20px;
}

#dropdown-button:hover {
  transform: scale(105%);
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: bisque;
  font-size: 1rem;
}

a:hover {
  text-decoration: underline;
  transform: scale(105%);
}

.genreMenu {
  margin-top: 15px;
  margin-left: 20px;
  height: 0;
  width: 300px;
  background-color: #230404;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: hidden;
  z-index: 5;
  border-radius: 8px;
}

.genreMenu.open {
  height: 215px;
  width: 300px;
  border: solid #230404 2px;
}

.genreMenu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger-menu {
  position: absolute;
  top: 88px;
  left: 0px;
  height: 0;
  width: 300px;
  background-color: #230404;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: hidden;
  z-index: 5;
  border-radius: 8px;
}

.burger-menu.open {
  height: 130px;
  width: 300px;
  border: solid #230404 2px;
}

.burger-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.hidden {
  display: none;
}

/* USERS */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__logo {
  background-color: #6096b4;
  margin-top: 12px;
  padding: 12px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
}

.profile__letter {
  font-size: 64px;
}

.profile__name {
  display: flex;
}

.name {
  margin: 8px;
}

.name__input {
  margin-top: 8px;
}

.currentGrid,
.previousGrid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 156px);
  gap: 109px;
  justify-content: center;
  margin: 0;
}

.previous,
.reading {
  margin-bottom: 12px;
  transition: all 300ms ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.596);
}

.previous:not(:hover),
.reading:not(:hover) {
  filter: brightness(60%);
  opacity: 0.86;
  transform: scale(0.9);
}

.profile__email {
  display: flex;
  align-items: center;
}

.email__input {
  margin-left: 8px;
}

.reading {
  max-height: 230px;
}

#returnBtn {
  width: 100px;
  background-color: #6096b4;
  border: none;
  font-size: 20px;
  color: #eee9da;
  border-radius: 8px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.7);
}

.img_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
